body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* In your index.css or Navbar.css */
@font-face {
  font-family: 'Candice LJ';
  src: url('./fonts/CANDY.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
  font-family: 'Candice LJ'; /* Applying Candice LJ font */
  font-weight: bold; /* Make it bold */
  font-size: 1.4rem; /* Adjust size as needed */
  color: black; /* Text color */
}
